
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class=" container-fluid  ">
                    <a class="navbar-brand" href="#pablo"> Dashboard </a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-palette"></i>
                                    <span class="d-lg-none">Dashboard</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nc-icon nc-zoom-split"></i>
                                    <input type="text" onchange="textchanged(this.value)"/>
                                </a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">Project Description</h4>
                                </div>
                                <div class="card-body ">
                                    
                                    <p >
                                    As evident in today’s world of social media and the speed at which news is spread all over the world, people are faced with a serious challenge of digesting that information or differentiate the same as fake or real news.
<br/><br/>As an example, the 2018 Facebook scandal where personal or private data was abused by Cambridge Analytical, whose impact was felt into the Presidential election not to mention numerous rumors effecting people's daily lives.
Our initial approach for this project starting from getting the trusted news source to setup the ground truth and exploring the deep learning model to predict the unknown news.
<br/><br/>
We explored the scholarly work of Phd student Mr Kai Shu of Arizona State University for data mining model which included the social context model and helped us to identify whether the news is reliable or not.
                                    </p>
                                    
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header ">
                                    <h4 class="card-title">Team Members</h4>
                                </div>
                                <div class="card-body ">
                                   
                                    <p>
                                    <ul with="100%">
                                        <li>Ling Luo</li>
                                        <li>Hong Hong</li>
                                        <li>Indra Mirai</li>
                                        <li>Chamil De Zoysa</li>
                                        <li>Jesse Yu</li>
                                    </ul>
                                    </p>
                                    
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
